In [1]:
#for and while loop
###for -step based loop

for i in range(10):
    print(i)
###while -condition based loop
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [8]:
movies =['Shrek','kung fu panda ','coco','the little mermaid','moneey heist','tvd','vincenzo''stranger things','harry potter','lion king','after']

In [9]:
print(f'total movies ={len(movies)}')

total movies =10

In [10]:
for movie in movies :
    print(movie)

Shrek
kung fu panda
coco
the little mermaid
moneey heist
tvd
vincenzostranger things
harry potter
lion king
after

In [11]:
for movie in movies :
    print(movie,len(movie))

Shrek 5
kung fu panda  14
coco 4
the little mermaid 18
moneey heist 12
tvd 3
vincenzostranger things 23
harry potter 12
lion king 9
after 5

In [17]:
for movie in movies :
 print(f'{movie:46}{len(movie)}')

Shrek                                         5
kung fu panda                                 14
coco                                          4
the little mermaid                            18
moneey heist                                  12
tvd                                           3
vincenzostranger things                       23
harry potter                                  12
lion king                                     9
after                                         5

In [18]:
num =[32,45,65,76,87,3,55,66]
for i in num:
    print(i)

32
45
65
76
87
3
55
66

In [27]:
num =[32,45,65,76,87,3,55,66]
for i in num:
    if i % 2 == 0:
      print(i,'=', i**2,)

32 = 1024
76 = 5776
66 = 4356

In [34]:
total_even = 0
for i in num:
    if i % 2==0:
        total_even +=i
print(total_even)

174

In [35]:
for i in num:
    print(i)
    if i > 40:
        break

32
45

In [37]:
x=["apple",'potato','banana','mango','','organge']
for item in x:
    if len(item) ==0:
        break
    print(item)

apple
potato
banana
mango

In [41]:
error=0
while True:
    username = input('enter username:')
    password =input ('enter password')
    if username == 'admin' and password=='secret':
        print('login successful')
        break
    elif error ==3:
        print('too many error')
        break
    else:
        print('invaid username?password')
        error +=1

login successful

In [1]:
x=[
    ['warbreaker',456],
    ['avatar',4566],
    ['2 states',789],
    ['helen keler',867],
    ['falt in our star',3444],
]

In [5]:
for item in x:
    for data in item:
        print(data)
    print('---')

warbreaker
456
---
avatar
4566
---
2 states
789
---
helen keler
867
---
falt in our star
3444
---